[Unit]
Description=ClearML Agent (HeartWaveML)
After=network.target

[Service]
WorkingDirectory=/home/jose/HeartWaveML
ExecStart=/home/jose/HeartWaveML/.venv/bin/clearml-agent daemon --queue default
Restart=always
User=jose

[Install]
WantedBy=multi-user.target
